/* ================
Message flash django
================== */
.alert--error {
    position: fixed;
    background: var(--color-err);
    padding: var(--btn-padding);
    border-radius: 1em;
    color: white;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert--success {
    position: fixed;
    background: var(--color-succes);
    padding: var(--btn-padding);
    border-radius: 1em;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert--neutral {
    position: fixed;
    background: white;
    padding: var(--btn-padding);
    border-radius: 1em;
    color: var(--text-color);
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}