:root {
    --card-height: 35em;
    --card-content-height: 30em;
    --card-links-height: 5em;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    background: var(--form-color);
    border: .2em solid var(--form-border-color);
    border-radius: 0.4em;
    height: var(--card-height);
    max-width: 30em;
    margin-top: 1em;
}

.card_grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-template-rows: auto;
    column-gap: 4em;
    width: 100%;
    justify-items: center;
}

.card__content {
    border-bottom: .1em solid #ccc;
    padding: 1em;
    height: var(--card-content-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card__title {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
}

.card p {
    color: var(--text-color)
}

.card__image {
    height: 51%;
    border-radius: .4em;
    width: 100%;
    aspect-ratio: 2/1;
}

.card__list {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: .3em;
    margin: 0em 0 .6em 0;
}

.card__chip {
    border: .1em solid #cccccc;
    border-radius: 1em;
    padding: .3em 1.2em .3em 1.2em;
    font-size: .87em;
}

.card__author-chip:hover {
    opacity: .8;
}

.card__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    gap: 2em;
    height: var(--card-links-height);
    width: 100%;
}

.card__links div:first-child {
    display: flex;
    align-items: center;
    gap: 1em
}

.card__links .heart {
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
}

.card a {
    text-decoration: none;
}

