form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--form-color);
    padding: 1em;
    border: .2em solid var(--form-border-color);
    border-radius: 1em;
    max-width: 500px;
    min-height: 20em;
    margin: 1em auto;
}

form label {
    color: white;
    margin: 1em 0 .3em 0;
}

form button {
    margin-top: 1em;
    width: inherit;
    color: var(--text-color) !important;
}

form select {
    overflow: hidden;
    background-color: var(--btn-color);
    border-radius: var(--input-border-radius);
    border: none;
    padding: var(--btn-padding);
    color: var(--text-color);
}

form select option:active {
    background: black;
}

form input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

form input[type="file"]::before {
    content: "📂";
}

form input[type="file"] {
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

form input[type="checkbox"] {
    align-self: flex-start;
}