.header {
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.header input {
    margin-right: 1em;
}

.header button {
    margin-right: 1em;
}
