ul.liste {
    border: #cccccc solid .1em;
    border-radius: 1em;
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}

.liste li {
    border-bottom: #ccc solid 0.1em;
    padding: 1em;
    /*max-width: 60em;*/
}

.liste li:last-child {
    border: none
}

.liste a {
    color: var(--text-color);
    text-decoration: none;
}

