.mini-header {
    background-color: var(--color-bg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2em;
    padding: 1.2em;
    border-bottom: .1em solid #80808066;
}

.mini-header ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mini-header a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

/*.header input {*/
/*    padding: var(--btn-padding);*/
/*    background-color: var(--btn-bg-color);*/
/*    border: none;*/
/*    border-radius: .4em;*/
/*    margin-right: 1em;*/
/*    color: var(--text-color)*/
/*}*/

/*.header button {*/
/*    margin-right: 1em;*/
/*}*/
