.table-container {
    display: block;
    width: 100%;
    border: var(--form-border-color) solid .3em;
    border-radius: 1em;
    margin-bottom: 5em;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
}

tr th {
    font-weight: bolder;
    font-size: 1.2em;
    color: var(--text-color);
    /*background: var(--border-color);*/
    border-bottom: var(--form-border-color) solid 0.1em;

}

th, td {
    text-align: left;
    padding: 1em;
    font-weight: normal;
    max-width: 32em;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background: var(--form-border-color);
}