{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Erreur 400 {% endblock %}
{% block contenu %}
    <main>
        <h1>Erreur 400</h1>
        <p>Cette ressource n'est pas disponible</p>
    </main>
{% endblock %}