{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Erreur 403 {% endblock %}
{% block contenu %}
    <main>
        <h1>Erreur 403</h1>
        <p>Vous n'êtes pas autorisé à effectuer cette action</p>
    </main>
{% endblock %}