{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Erreur 500 {% endblock %}
{% block contenu %}
    <main>
        <h1>Erreur 500</h1>
        <p>Une erreur s'est produite, réessayez plus tard.</p>
    </main>
{% endblock %}