{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/factotum/styles/styles.css' %}"/>

    <title>{% block titre %}{% endblock %}</title>

</head>

<body>

<nav class="mini-header">
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url 'factotum_connection' %}">Connection</a></li>
            <li><a href="{% url 'factotum_creation_compte' %}">Nouveau compte</a></li>
        {% else %}
            <li>Connecté en tant que {{ user.username }}</li>
            <li><a href="{% url 'factotum_utilisateur_details' %}">Profil</a></li>
            <li>
                <a href="{% url 'factotum_deconnexion' %}">Déconnection</a>
            </li>

        {% endif %}
    </ul>
</nav>

<header class="header">
    {% block header %}
        <div>
            <ul>
                <li><a href="{% url 'factotum_accueil' %}">Accueil</a></li>
            </ul>
        </div>
        <div>
            {#            <ul>#}
            {#                <li><label>#}
            {#                    <input type="text" placeholder="Rechercher">#}
            {#                </label></li>#}
            {#                <li>#}
            {#                    <button>Rechercher</button>#}
            {#                </li>#}
            {#            </ul>#}
        </div>
    {% endblock %}

</header>

{% block contenu %}{% endblock %}


</body>

<footer>

    <script async>
        const alerts = document.querySelectorAll("[class^=alert]");

        // Retirer alerte sur click
        alerts.forEach((el) => {
            el.addEventListener("click", () => {
                el.remove()
            })
        });

        // Supprimer les messages flash  après 5 secondes
        setTimeout(() => {
            alerts.forEach((el) => {
                el.remove()
            });
        }, 5000)

    </script>

</footer>

</html>