{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Nouvelle soumission{% endblock %}
{% block contenu %}
    <main>
        <h1>Nouvelle soumission</h1>

        <div class="card_grid-container">
            {# Carte du professionnel #}
            <div class="card" style="margin: 1em auto auto;">

                <div class="card__content">

                    <h2 class="card__title">{{ professionnel.utilisateur }}</h2>

                    <div class="card__list">
                        {% if not note %}
                            <p class="card__chip">Pas noté</p>
                        {% else %}
                            <p class="card__chip">{{ note }} 🌟</p>
                        {% endif %}
                    </div>

{#                    <div class="card__list">#}
{#                        <p class="card__chip">{{ professionnel.service.nom }}</p>#}
{#                    </div>#}

                    <img class="card__image" src="/media/{{ professionnel.utilisateur.avatar }}"
                         alt="Avatar du professionnel">
                </div>

                <div class="card__links">
                    <a href="{% url 'factotum_accueil' %}">Retour</a>
                </div>
            </div>

            {# Forumualaire de soumission#}
            <form action="{% url 'factotum_soumission' professionnel_id=professionnel.id %}" method="post">
                <h2>Confimer la soumission</h2>
                <div class="card__list" style="margin-top: 1em">
                    <p class="card__chip">Taux {{ professionnel.taux_horaire|floatformat }}$/h</p>
                    <p class="card__chip">{{ professionnel.service.nom }}</p>
                </div>

                {% csrf_token %}
                {{ form }}

                <button>Créer</button>
            </form>
        </div>


    </main>
{% endblock %}