{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum{% endblock %}
{% block contenu %}
    <main>
        {% if not distances %}
            <h1>Prendre soin de votre maison, en toute simplicité!</h1>
        {% endif %}

        {% if not distances %}
            <form action="{% url 'factotum_accueil' %}" method="post">
                <h2>🔍 Chercher nos professionnels à proximité</h2>
                {% csrf_token %}
                {{ form }}

                <button>Chercher</button>
            </form>
        {% endif %}

        {# Messages flash #}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <p class="alert--{{ message.tags }}">{{ message }} &#10006;</p>
                {% else %}
                    <p></p>
                    <p class="alert--neutral">{{ message }} &#10006;</p>
                {% endif %}
            {% endfor %}
        {% endif %}

        {# Liste des professionnels #}
        {% if distances %}
            <h1>Liste des professionnels <span
                    style="text-decoration: underline .1em #00d4ff;">{{ service_utilisateur }}</span></h1>
            <div class="card_grid-container">
                {% for res in distances %}
                    <div class="card">

                        <div class="card__content">

                            <h2 class="card__title">{{ res.professionnel.utilisateur }}</h2>

                            <div class="card__list">
                                <p class="card__chip">{{ res.distance }} km</p>
                                {% if not res.note %}
                                    <p class="card__chip">Pas noté</p>
                                {% else %}
                                    <p class="card__chip">{{ res.note }} 🌟</p>
                                {% endif %}
                            </div>

                            <div class="card__list">
                                <p class="card__chip">{{ res.professionnel.service.nom }}</p>
                                <p class="card__chip">{{ res.professionnel.taux_horaire|floatformat }} $/h</p>
                            </div>

                            <img class="card__image" src="/media/{{ res.professionnel.utilisateur.avatar }}"
                                 alt="Avatar du professionnel">
                        </div>

                        <div class="card__links">
                            <a class="link-as-button"
                               href="{% url 'factotum_soumission' professionnel_id=res.professionnel.id %}">Créer
                                soumission</a>
                            <a href="{% url 'factotum_professionnel_details' professionnel_id=res.professionnel.id %}">Voir
                                profil</a>
                        </div>


                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <script async>
            // Input code postal
            const inputCodePostal = document.getElementById("id_code_postal")

            // Enforcer le bon format de code postal Canadien (A1A 1A1)
            inputCodePostal.addEventListener("keyup", (e) => {
                // Tous en majuscules
                inputCodePostal.value = inputCodePostal.value.toUpperCase()

                // Enforcer un espace au milieu
                if (inputCodePostal.value.length > 3) {
                    const dernierChar = inputCodePostal.value.slice(-1)
                    if (inputCodePostal.value.substring(3, 4) !== " ") {
                        inputCodePostal.value = inputCodePostal.value.substring(0, 3) + " " + dernierChar
                    }
                }

                // Empêcher plus de 7 caractères (3 + espace (1) + 3) (A1A 1A1)
                if (inputCodePostal.value.length > 7) {
                    inputCodePostal.value = inputCodePostal.value.substring(0, 7)
                }
            })
        </script>
    </main>
{% endblock %}