{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Profil de {{ professionnel.user_id.nom }}{% endblock %}
{% block contenu %}
    <main>
        <h1>Profil professionnel de {{ professionnel.user_id }}</h1>

        <div class="card_grid-container">
            <div class="card" style="margin: 1em auto auto;">

                <div class="card__content">

                    <h2 class="card__title">{{ professionnel.utilisateur }}</h2>

                    <div class="card__list">
                        {% if not professionnel.utilisateur.note %}
                            <p class="card__chip">Pas noté</p>
                        {% else %}
                            <p class="card__chip">{{ professionnel.utilisateur.note }} 🌟</p>
                        {% endif %}
                    </div>

                    <div class="card__list">
                        <p class="card__chip">{{ professionnel.service.nom }}</p>
                    </div>

                    <img class="card__image" src="/media/{{ professionnel.utilisateur.avatar }}"
                         alt="Avatar du professionnel">
                </div>

                <div class="card__links">
                    <a href="{% url 'factotum_accueil' %}">Retour</a>
                </div>


            </div>
        </div>

    </main>
{% endblock %}