{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Profil de {{ utilisateur }}{% endblock %}
{% block contenu %}
    <main>
        <h1>Profil utilisateur de {{ utilisateur }}</h1>

        {# Carte de l'utilisateur #}
        <div class="card_grid-container">
            <div class="card" style="margin: 1em auto auto;">

                <div class="card__content">

                    <h2 class="card__title">{{ utilisateur }}</h2>

                    <div class="card__list">
                        <p class="card__chip">{{ utilisateur.email }}</p>
                        <p class="card__chip">{{ utilisateur.tel }}</p>

                        {# Afficher note si professionnel #}
                        {% if soumissions_des_professionnels %}
                            {% if not utilisateur.note %}
                                <p class="card__chip">Pas noté</p>
                            {% else %}
                                <p class="card__chip">{{ utilisateur.note }} 🌟</p>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="card__list">
                        <p class="card__chip">{{ utilisateur.adresse }}</p>
                        <p class="card__chip">{{ utilisateur.code_postal }}</p>
                    </div>


                    <img class="card__image" src="/media/{{ utilisateur.avatar }}"
                         alt="Avatar du professionnel">
                </div>

                <div class="card__links">
                    {# Afficher lien ajout service si c'est utilisateur est un professionnel #}
                    {% if soumissions_des_professionnels %}
                        <a class="link-as-button" href="{% url 'factotum_professionnel_nouveau' %}">Offrir un autre
                            service</a>
                    {% endif %}
                    <a href="{% url 'factotum_accueil' %}">Retour</a>
                </div>


            </div>
        </div>

        {# Soumission créés par utilisateur  #}
        {% if soumissions_utilisateur %}
            <h2 style="margin: 1em 0 1em 0; text-align: left">Suivi de vos soumissions </h2>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Date planification</th>
                        <th>Date complétée</th>
                        <th>Professionnel</th>
                        <th>Service</th>
                        <th>Description</th>
                        <th>État</th>
                        <th>
                            Note (0-5)
                            <p>
                                <abbr title="Entrez un nombre, entre 0 et 5, puis clquez sur la
                                    touche « Entrez »"><kbd>Entrer</kbd> pour confirmer</abbr>
                            </p>
                        </th>
                        <th>Annuler</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for soumission in soumissions_utilisateur %}
                        <tr>
                            <td>{{ soumission.date_planification }}</td>
                            <td>{{ soumission.date_terminee }}</td>
                            <td>{{ soumission.utilisateur.last_name }} {{ soumission.utilisateur.first_name }}
                                <pre>{{ soumission.utilisateur.tel }}</pre>
                            </td>
                            <td>{{ soumission.professionnel.service.nom }}</td>
                            <td>{{ soumission.description }}</td>
                            <td>{{ soumission.etat }}</td>
                            <td>
                                <label>
                                    <input data-note data-id-soumission="{{ soumission.id }}"
                                           type="number" value="{{ soumission.note }}"
                                           name="note-{{ soumission.id }}" min="0" max="5" placeholder="Note">

                                </label>
                            </td>
                            <td>
                                <button onclick="annulerSoumission({{ soumission.id }})">Annuler</button>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2 style="margin: 1em 0 0 0; text-align: left">Vous n'avez fait aucune soumission</h2>
        {% endif %}

        {#  Soumission des professionnels  #}
        {% if soumissions_des_professionnels %}
            <h2 style="margin: 1em 0 0 0; text-align: left">Vos tâches (demandes de soumissions)</h2>
            <p style="margin: .1em 0 1em 0;">En tant que professionnel {{ utilisateur }}</p>

            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Date planification</th>
                        <th>Date complétée</th>
                        <th>Demendeur</th>
                        <th>Service</th>
                        <th>Description</th>
                        <th>État</th>
                        <th>Accepter</th>
                        <th>Annuler</th>
                        <th>Terminer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prof in soumissions_des_professionnels %}
                        {% for soumission in prof %}
                            <tr>
                                <td>{{ soumission.date_planification }}</td>
                                <td>{{ soumission.date_terminee }}</td>
                                <td>{{ soumission.utilisateur.last_name }} {{ soumission.utilisateur.first_name }}
                                    <pre>{{ soumission.utilisateur.tel }}</pre>
                                </td>
                                <td>{{ soumission.professionnel.service.nom }}</td>
                                <td>{{ soumission.description }}</td>
                                <td>{{ soumission.etat }}</td>
                                <td>
                                    <button onclick="accepterSoumission({{ soumission.id }});">Accepter</button>

                                </td>
                                <td>
                                    <button onclick="annulerSoumission({{ soumission.id }})">Annuler</button>

                                </td>
                                <td>
                                    <button onclick="terminerSoumission({{ soumission.id }})">Terminer</button>

                                </td>
                            </tr>

                        {% endfor %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}


        {# Messages flash #}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <p class="alert--{{ message.tags }}">{{ message }} &#10006;</p>
                {% else %}
                    <p></p>
                    <p class="alert--neutral">{{ message }} &#10006;</p>
                {% endif %}
            {% endfor %}
        {% endif %}

    </main>

    <script async>
        const inputNotes = document.querySelectorAll("[data-note]");
        const btnsAnnuler = document.querySelectorAll("[data-annulersoum]");

        // Ajouter les events listeners pour noter un service
        inputNotes.forEach((el) => {
            el.addEventListener("keyup", (e) => {
                if (e.code === "Enter") {
                    envoyerNote(el.value, el.dataset.idSoumission)
                }
            })
        })

        // Noter une soumission de façon asynchrone
        const envoyerNote = async (note, idSoumission) => {
            // Valider note
            if (isNaN(parseInt(note, 10)) || parseInt(note, 10) > 5 || parseInt(note, 10) < 0) {
                alert('La note doit être entre 0 et 5');
                return;
            }

            const url = `{% url 'factotum_soumission_noter' id_soumission=12345 %}`.replace(/12345/, idSoumission.toString());
            const data = {
                "note": note
            }

            envoyerDonnees(idSoumission, url, data).then(res => {
                alert(res.msg)
                location.reload()
                return false;
            })
        }

        // Accepter une soumission de façon asynchrone
        const accepterSoumission = async (idSoumission) => {
            const url = `{% url 'factotum_soumission_accepter' id_soumission=12345 %}`.replace(/12345/, idSoumission.toString());
            const data = {}

            envoyerDonnees(idSoumission, url, data).then(res => {
                alert(res.msg)
                location.reload()
                return false;
            })
        }

        // Terminer une soumission de façon asynchrone
        const terminerSoumission = async (idSoumission) => {
            const url = `{% url 'factotum_soumission_terminer' id_soumission=12345 %}`.replace(/12345/, idSoumission.toString());
            const data = {}

            envoyerDonnees(idSoumission, url, data).then(res => {
                alert(res.msg)
                location.reload()
                return false;
            })

        }

        // Annuler une soumission de façon asynchrone
        const annulerSoumission = async (idSoumission) => {
            const confirmation = confirm("Voulez-vous annuler cette soumission ?")
            if (!confirmation) {
                return;
            }

            const url = `{% url 'factotum_soumission_annuler' id_soumission=12345 %}`.replace(/12345/, idSoumission.toString());
            const data = {}

            envoyerDonnees(idSoumission, url, data).then(res => {
                alert(res.msg)
                location.reload()
                return false
            })
        }

        /**
         * Envoyer des données au serveur
         * @param idSoumission Id de la soumission
         * @param url Point url au serveur
         * @param data Données à envoyer
         * @returns {Promise<any>} La réponse du serveur
         */
        const envoyerDonnees = async (idSoumission, url, data) => {
            // (https://docs.djangoproject.com/en/4.1/howto/csrf/#setting-the-token-on-the-ajax-request)
            const csrftoken = getCookie("csrftoken")
            const payload = {
                method: "POST", headers: {
                    'X-CSRFToken': csrftoken, 'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data),
                mode: 'same-origin'
            }

            const req = await fetch(url, payload).catch(() => alert("Erreur, impossible d'effectuer cette action"))
            return await req.json().catch(() => alert("Erreur, impossible d'effectuer cette action"))
        }

        // Récupérer csrftoken
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
{% endblock %}