{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Création de compte{% endblock %}
{% block contenu %}
    <main>
        <h1>Création de compte</h1>

        <form action="{% url 'factotum_creation_compte' %}" method="post" enctype="multipart/form-data">
            <h2>🔔 Créez votre compte pour utiliser nos services</h2>
            {% csrf_token %}
            {{ form }}

            <button>Créer</button>
        </form>


    </main>
{% endblock %}