{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Nouveau professionnel {% endblock %}
{% block contenu %}
    <main>
        <h1>Offrez un nouveau service</h1>

        <div class="card_grid-container">

            {# Formualaire #}
            <form action="{% url 'factotum_professionnel_nouveau' %}" method="post">
                <h2>Créer la nouvelle offre</h2>
                <div class="card__list">
                    <p class="card__chip" style="margin-top: 1em">Associé à {{ user }}</p>
                </div>
                {% csrf_token %}
                {{ form }}

                <button>Créer</button>
                <a href="{% url 'factotum_utilisateur_details' %}">Retour</a>
            </form>
        </div>

        {# Messages flash #}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <p class="alert--{{ message.tags }}">{{ message }} &#10006;</p>
                {% else %}
                    <p></p>
                    <p class="alert--neutral">{{ message }} &#10006;</p>
                {% endif %}
            {% endfor %}
        {% endif %}


    </main>
{% endblock %}