{% extends './base.html' %}
{% load static %}
{% block titre %}Factotum - Connection{% endblock %}
{% block contenu %}
    <main>
        <h1>Connection au compte</h1>


        <form action="{% url 'factotum_connection' %}" method="post">
            <h2>🔔 Connectez-vous pour utiliser nos services</h2>
            {% csrf_token %}
            {{ form }}

            <button>Connection</button>
        </form>

    </main>
{% endblock %}