@import url("./templ/css-reset.css");

@import url("./templ/header.css");
@import url("./templ/mini-header.css");

@import url("./templ/form.css");

@import url("./templ/liste.css");

@import url("./templ/card.css");

@import url("./templ/table.css");

@import url("./templ/alertes.css");


:root {
    --color-bg: #161816;
    --color-err: #e65763;
    --color-succes: green;
    --text-color: #cecece;
    --btn-color: #333333;
    --form-color: #242424;
    --form-border-color: #80808026;

    --btn-padding: .3em 1.2em .3em 1.2em;
    --input-border-radius: .4em;

}

body {
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
}

main {
    width: 100vw;
    margin: auto;
    max-width: 80%;
    overflow-x: hidden;
    padding: 3rem 0 0;
}

h1 {
    /*max-width: var(--text-max-width);*/
    font-size: 2.4em;
    text-align: center;
    background: linear-gradient(90deg, #E65763ff 10%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2em;
    text-align: center;
}

input, textarea {
    padding: var(--btn-padding);
    background-color: var(--btn-color);
    border: none;
    border-radius: var(--input-border-radius);
    color: var(--text-color);
}

textarea {
    resize: none;
}

button {
    padding: var(--btn-padding);
    border-radius: 1em;
    border: none;
    color: white;
    background-color: var(--btn-color);
    cursor: pointer;
}

a.link-as-button {
    padding: var(--btn-padding);
    border-radius: 1em;
    border: none;
    color: white;
    background-color: var(--btn-color);
    cursor: pointer;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* ================
Erreurs django
================== */
ul.errorlist li {
    color: var(--color-err);
    list-style: decimal;
}

/* Scorllbar */

table::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

table::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

table::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px black;
	background-color: var(--form-color);
}